services:
  ledger-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ledger-service
    ports:
      - "8090:8090"
    environment:
      - SPRING_PROFILES_ACTIVE=default
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8090/actuator/health"]
      interval: 30s
      timeout: 3s
      start_period: 10s
      retries: 3
